.div-game {
    margin: auto auto;
    width: 80%;
    height: 80%;
}

.div-score {
    position: relative;
    margin: auto;
    margin-top: 10px;
    height: 30px;
    color: #000000;
    background: #C0C0C0;
}

.div-score > div {
    display: inline-block;
    width: 49%;
}

.div-score .right {
    text-align: right;
    position: relative;
    right: 5px;
}

.div-mines {
    vertical-align: middle;
    background-image: url("../images/mine.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    margin-left: 10px;
    width: 70px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #0000CF;
}

.div-time {
    vertical-align: middle;
    background-image: url("../images/clock.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    margin-left: 10px;
    width: 60px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #007F00;
}

.div-board {
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.div-board .game-message {
    position: absolute;
    color: #fff;
    text-shadow: 2px 2px #000;
    top: 35%;
    z-index: 2;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    opacity: 0.8;
}

#message-loose {
    background-color: indianred;
}

#message-win {
    background-color: green;
}

.cell {
    position: relative;
    border: solid 1px #000;
    font-size: 1rem;
    font-weight: bold;
    background-color: darkgray;
    cursor: pointer;
}

.cell.up:active {
    background-color: #3469B4;
    box-shadow: inset 0px 0px 7px 0px #000;
}

.cell.down {
    background-color: lightgray;
    cursor: auto;
}

.cell.flag {
    background-image: url("../images/flag.png");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.cell.question {
    background-image: url("../images/questionMark.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.cell.mine {
    background-image: url("../images/mine.png");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.cell.boom {
    background-color: lightgray;
    background-image: url("../images/boom.png");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.cell.cross {
    background-image: url("../images/cross.png");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.cell.down::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.cell.down.number-1::before {
    content: "1";
    color: blue;
}

.cell.down.number-2::before {
    content: "2";
    color: green;
}

.cell.down.number-3::before {
    content: "3";
    color: red;
}

.cell.down.number-4::before {
    content: "4";
    color: darkblue;
}

.cell.down.number-5::before {
    content: "5";
    color: darkred;
}

.cell.down.number-6::before {
    content: "6";
    color: darkslategrey;
}

.cell.down.number-7::before {
    content: "7";
    color: black;
}

.cell.down.number-8::before {
    content: "8";
    color: dimgray;
}